@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/LeagueGothic.otf');
}

@font-face {
    font-family: 'AcknowledgementMedium';
    src: url('../fonts/Acknowledgement.otf');
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #484848;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background-color: #484848;
    color: #fff;
    text-shadow: none;
}

input, button {
    font-family: 'LeagueGothic', sans-serif;
}

input { 
    vertical-align: middle;  
    color: #282828;
    background-color: transparent;
    border: dotted #484848;	
    border-width: 0 0 1px 0;
    display: block;
    margin: 10px auto;
    font-style: italic;
    font-size: 1.1em;
    padding: 5px 30px;
    width: 50%;
    text-align: center;
}

input:required {
    background: url(../imgs/required.png) no-repeat 98% center;
}

input:focus:valid {
    background: url(../imgs/valid.png) no-repeat 98% center;
}

input:focus:invalid {
    background: url(../imgs/invalid.png) no-repeat 98% center;
}

form {
    margin: 10px auto;
    border: solid 2px #888;
    border-width: 2px 0;
    width: 710px;
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.2) url(../imgs/bg-form.png) no-repeat bottom center;
}

form h1 {
    font-family: 'AcknowledgementMedium', serif;
    font-size: 3em;
    padding: 20px 0;
    background-image: url(../imgs/bg-formtitle-left.png), url(../imgs/bg-formtitle-right.png);
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100px auto, 100px auto;
}

form ul { list-style-type: none; }
form ul li { margin-bottom: 15px; }

label {
    font-family: Tahoma, Geneva, sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
}

button:hover { background-color: #555; }